<button (click)="userService.logout()">Logout</button>
<h2>Listagem</h2>
<a *ngIf="isStaff === 'false'" href="bookmarks/new">Adicionar</a>
<table>
  <thead>
    <th *ngIf="isStaff === 'true'">dono</th>
    <th>nome</th>
    <th>url</th>
    <th *ngIf="isStaff === 'false'">ações</th>
  </thead>
  <tr *ngFor="let bookmark of bookmarks">
    <td *ngIf="isStaff === 'true'">{{bookmark.owner_username}}</td>
    <td>{{bookmark.name}}</td>
    <td><a href="{{bookmark.url}}">{{bookmark.url}}</a></td>
    <td *ngIf="isStaff === 'false'">
      <a href="bookmarks/{{bookmark.id}}">editar</a>
      <button (click)="delete(bookmark)">X</button>
    </td>
  </tr>
</table>
