<button (click)="userService.logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
<h2>Listagem</h2>
<a *ngIf="isStaff === 'false'" href="bookmarks/new"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
<table class="table">
  <thead>
    <th *ngIf="isStaff === 'true'">dono</th>
    <th>nome</th>
    <th>url</th>
    <th *ngIf="isStaff === 'false'">ações</th>
  </thead>
  <tr *ngFor="let bookmark of bookmarks">
    <td *ngIf="isStaff === 'true'">{{bookmark.owner_username}}</td>
    <td>{{bookmark.name}}</td>
    <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
    <td *ngIf="isStaff === 'false'">
      <a href="bookmarks/{{bookmark.id}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
      <a (click)="delete(bookmark)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    </td>
  </tr>
</table>
