<button class="btn btn-default" (click)="userService.logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
<h2>Edição de bookmark</h2>
<div class="container">
  <form [formGroup]="formEdit">
    <div class="form-group">
      <label for="name">nome</label>
      <input type='text' id="name" class="form-control" placeholder="name" formControlName="name" [(ngModel)]="bookmark.name">
    </div>
    <div class="form-group">
      <label for="url">url</label>
      <input type='text' id="url" class="form-control" placeholder="url" formControlName="url" [(ngModel)]="bookmark.url">
    </div>
    <button class="btn btn-success" [disabled]="!formEdit.valid" (click)="send()"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
  </form>
</div>
